@{
	ViewData["Title"] = "Начална Страница";
}
<div class="slider">

	<div class="slide active">
		<img class="imgs" src="https://darik.bg/media/697/gettyimages-634328658.l.webp" />
		<div class="text">Добре дошли в Златна Реколта</div>
	</div>
	<div class="slide">
		<img class="imgs" src="https://static.dir.bg/uploads/images/2023/10/27/2615270/1920x1080.jpg?_=1698434762" />
		<div class="text">Добре дошли в Златна Реколта</div>
	</div>
	<div class="slide">
		<img class="imgs" src="https://m4.netinfo.bg/media/images/43243/43243876/960-540-zelenchuci-plodove-zdrave-zdravoslovno.jpg" />
		<div class="text">Добре дошли в Златна Реколта</div>
	</div>
</div>
@section Scripts {
	<script src="js/site.js"></script>
}
<h1 class="h1ForHome">
	<strong>
		ДОСТАВКА НА ПЛОДОВЕ И ЗЕЛЕНЧУЦИ
		ЛЕСНО ☆ БЪРЗО ☆ УДОБНО!
	</strong>
</h1>
<h5 class="h5ForHome">Доставка на Плодове, Зеленчуци, Ядки и Фрешове до всяка точка на България. Открийте свежите съкровища: Пресни плодове и зеленчуци от нашите ферми!</h5>
<div id="GaleryANDH">
	<br />
	<br />
	<br />
	<h5 class="h5ForHome">Голямо разнообразие на свежи плодове, зеленчуци, ядки и фрешове</h5>

	<section class="gallery">
		<div class="gallery-item">
			<img src="https://i.ibb.co/C5cpptgR/Galery1.png" alt="Gallery Image 1">
		</div>
		<div class="gallery-item">
			<img src="https://i.ibb.co/1GnrjPSg/Galery2.png" alt="Gallery Image 2">
		</div>
		<div class="gallery-item">
			<img src="https://i.ibb.co/fYNHZCHb/Galery3.png" alt="Gallery Image 3">
		</div>
	</section>
</div>
<br />
<br />
<br />
<div class="instructions">
	<div class="step">
		<div class="icon">✔️</div>
		<h3>Изберете продукти</h3>
		<p>Добавете избраните продукти в количката</p>
	</div>
	<div class="step">
		<div class="icon">🛒</div>
		<h3>Отидете на КОЛИЧКА</h3>
		<p>След като изберете всички продукти отидете на КОЛИЧКА и финалицирайте поръчката</p>
	</div>
	<div class="step">
		<div class="icon" >🏍️</div>
		<h3>Бърза доставка</h3>
		<p>След финализирането на поръчката, куриер ще ви я достави в най-кратки срокове. Плащането се извършва на място.</p>
	</div>
</div>