@page
@model RegisterModel

@{
    ViewData["Title"] = "Регистрация";
}
<h1 class="text-center">@ViewData["Title"]</h1>

<div class="d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="col-md-6">
        <section class="login-card p-4 shadow-sm bg-white rounded">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h2>Използвай локален акаунт за регистрация!</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Потребителско име" />
                    <label asp-for="Input.UserName" class="form-label">Потребителско име</label>
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="Имейл" />
                    <label asp-for="Input.Email" class="form-label">Имейл</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.FirstName" class="form-control" placeholder="Име" />
                    <label asp-for="Input.FirstName" class="form-label">Име</label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.LastName" class="form-control" placeholder="Фамилия" />
                    <label asp-for="Input.LastName" class="form-label">Фамилия</label>
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Парола" />
                    <label asp-for="Input.Password" class="form-label">Парола</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Потвърди парола" />
                    <label asp-for="Input.ConfirmPassword" class="form-label">Потвърди парола</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <div>
                    <button id="registerSubmit" type="submit" class="btn w-100 btn-lg custom-login-btn">
                        Регистрация
                    </button>
                </div>

                <div class="mt-3">
                    <p>
                        <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Вече имаш акаунт? Вход</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
