@model ZlatnaRekolta.Data.Distributor

@{
    ViewData["Title"] = "Изтриване";
}

<h1 class="text-danger">Изтриване на дистрибутор</h1>

<h4>Сигурни ли сте, че искате да изтриете следният дистрибутор:</h4>
<hr />
<div class="card shadow p-4 bg-light">
    <dl class="row">
        <dt class="col-sm-4">Име на дистрибутора:</dt>
        <dd class="col-sm-8">@Model.Name</dd>

        <dt class="col-sm-4">Описание:</dt>
        <dd class="col-sm-8">@Model.Description</dd>
    </dl>
</div>

<br />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">
        🗑 Потвърди изтриването
    </button>
    <a asp-action="Index" class="btn btn-dark ms-2">
        Назад към списъка
    </a>
</form>

