@model IEnumerable<ZlatnaRekolta.Data.Distributor>

@{
    ViewData["Title"] = "Доставчици";
}

<h1>Доставчици</h1>

<p>
    <form asp-action="Scrape" method="post">
        <button type="submit" style="background-color:goldenrod;padding:1%;text-decoration:none; color:black;font-size:15px; justify-content:center; border-radius:8px;">Обнови фирми</button>
    </form>
</p>
<table class="table table-bordered">
	<thead class="table-dark text-center">
		<tr>
			<th>
				Наименование

			</th>
			<th>
				Описание
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody class="text-center">
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					<a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">🗑</a>
				</td>
			</tr>
		}
	</tbody>
</table>

